<!-- Intro Header -->
<header class="intro">
    <div class="intro-body ">
        <div class="container hideAn animated value_intro">
            <div class="row">
                <div class="cube">
                    <div class="flippety">
                        <h1>flip</h1>
                    </div>
                    <div class="flop">
                    <div class="red">red</div>
                    </div>
                </div>
            </div>
        </div>
          <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
          </a>
    </div>
</header>