<!-- Footer -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
        	<small class="copyright">
        		Copyright &copy; {{site.title}}
        		<span class="disabled">{{ site.time | date: "%Y" }}</span>
        	</small>
        </div>
        <div class="col makestuffwrap">
        	<a href="https://github.com/thinknoack/" rel="publisher"><small class="makestuff" >Make Stuff</small></a>
        </div>
      </div>
    </div>
</footer>
