<!-- Intro Header -->
<header class="intro">
    <div class="intro-body ">
        <div class="container hideAn animated value_intro">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Sqm</h1>
                    <ul class="value-fader">
                        <li>
                            <p class="intro-text"> We make complex <strong>information</strong> useful.</p>
                        </li>
                        <li>
                            <p class="intro-text">We make every <strong>interaction</strong> devilishly good looking.
                            </p>
                        </li>
                        <li>
                            <p class="intro-text">We make <strong>search</strong> seamlessly perfect</p>
                        </li>
                        <li>
                            <p class="intro-text">We make <strong>communities</strong> hum</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container hideAn animated ipad_mini-imgs">
            <div class="row">
                <div class="ipad_mini_wrapper">
                    <ul class="value-img-fader">
                        <li>
                            <img src="/sqm-theme/dist/img/introImgs/farm.jpg" alt=""/>
                        </li>
                        <li>
                            <img src="/sqm-theme/dist/img/introImgs/cogat.jpg" alt=""/>
                        </li>
                        <li>
                            <img src="/sqm-theme/dist/img/introImgs/farm.jpg" alt=""/>
                        </li>
                        <li>
                            <img src="/sqm-theme/dist/img/introImgs/cogat.jpg" alt=""/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="container hideAn animated ipad_mini"></div>
          <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
          </a>
    </div>
</header>