
<figure class="{{post.className}} ">
    <a  class="view-post-img" href="{{ post.url | prepend: site.baseurl }}">
       <picture>
          <source srcset="{{ post.teaser-webp }}" type="image/webp">
          <source srcset="{{ post.teaser-img }}" type="image/jpeg"> 
          <img src="{{ post.teaser-img }}" alt="{{post.title}}">
        </picture>
    </a>
    <figcaption>
        <h2><a  class="view-post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p>{{post.teaser}}</p>
        <div class="client">
            <small><span>Client:</span> 
                {% if post.siteurl %}
                    <a href="{{post.siteurl}}" target="_blank">{{post.client}}</a>
                {% else %}
                    <span>{{post.client}}</span>
                {% endif %}
                {% if tag == post.tag %}
                <br>
                {% endif %}
            </small>
            <small>
                <span>Skills:</span>
               <span> 
                <span class="nav-tags">
                    {% for tag in post.tags %}
                    <span>{{ tag }}</span>
                    {% endfor %}
                </span>
                </span>
            </small>
        </div>
    </figcaption>
</figure>
