---
layout: not-front
---
<h2 class="post-title">{{page.tagpost_title}}</h2>
<div class="row">
    <section id="workSection" class="show tags">
        <div id="workContent" class="tagsPage">
            <div class="siteblock">
            {% assign count = '0' %} 
            {% for post in site.posts %}
            {% for tag in post.tags %}
            {% if tag == page.tag %}
            {% capture count %}{{ count | plus: '1' }}{% endcapture %}
            {% include portfolio-layout.html %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            </div>
        </div>
    </section>
</div>


