---
layout: other
---
<h2 class="post-title">{{page.tagpost_title}}</h2>
<div class="row">
<section id="workSection" class="show">
  <div id="workContent" class="container tagsPage">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
      <div id="post{{count}}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 workblock ">
        <div class="grid">
        <figure class="effect-bubba {{post.className}} ">
          <img src="{{ post.teaser-img | prepend: site.baseurl }}" alt="{{post.title}}"/>
          <figcaption>
            <span class="postType">{{post.className}}</span>
            <a  class="view-post" href="{{ post.url | prepend: site.baseurl }}">+</a>
            <h2><a  href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a></h2>
            <p>tags:</p>
            <ul class="nav nav-pills nav-tags">
              {% for tag in post.tags %}
              <li>
                <a href="/thinknoack/tag/{{ tag }}">{{ tag }}</a>
              </li>{% endfor %}
            </ul>          
          </figcaption>     
        </figure>
      </div>
      </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
  </div>
</section>
</div>


