

.intro {
    height: calc(100% - 20px);
}

.intro, .postIntro {
    overflow: visible;
    z-index: 0;    
    display: block;
    padding: 0;
    text-align: left;

    .intro-body {
        display: block;
        //overflow: hidden;
        height: 100%;
        z-index: 900;
        .value_intro{
            margin-top: 10%;
            padding: 40px 0;
            @media(max-width: 767px){
                #sad{
                    transform: none !important; 
                }
            }

        }
        .brand-heading {
            font-size: 92px;
            letter-spacing: .04em;
            .client{
                letter-spacing: normal;
            }
        }
        .introDes{
            font-size: 22px;
        }
    }
        &.postIntro {
        
        .intro-body .value_intro{
            margin-top:30px;
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}


.front{
    .intro {
        margin: 0 20px 0;
        color: $light;
        background: url('../img/intro-bg1.jpg') no-repeat 70% 50% fixed;
        background-color: #152b3d;
        background-size: cover;
        overflow: hidden;
        .intro-body{
                    background: rgba($secondary, .4);
            .value_intro{
                width: 100%;
                margin:0 auto;
                padding: 0;
                height: auto;
                color: $white;
                text-transform: uppercase;
                font-size: 21px;
                text-align: center;
                position: absolute;
                top: 30%;
                left: 0;
                right: 0;
                text-align: center;
                max-width: 700px;
                @media(max-width: 767px){
                    max-width: 80%;
                }
    
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
            }
        }
    }
}

@media(max-width:991px) {
    // .front .intro .intro-body .value_intro{
    //     margin: 0;
    //     padding: 0 10px;
    //     position: relative;
    //     top: 50px;
    //     bottom: auto;
    // }

    .intro,
    .postIntro{
        .intro-body {
            .brand-heading {
                margin-top: 0;
                font-size: 33px;
            }
            .introDes{
                font-size: 17px;
            }


        }
    }
    .intro {
        height: calc(100% - 20px);
    }

    .front .intro{
        padding:0;
        .intro-body{
            .value_intro{
                .brand-heading{
                    margin-bottom: 15px;
                }
                .introDes{
                    font-size: 12px;
                }
            }
        }
    }   

}


