---
layout: null
---
<!--
handles the layout for all category via the ajax links on the home page
for the default layout see the port.html file (this cat template "should" match the default template)
-->
<div class="container">
    <div class="col-md-12">
        <div class="siteblock clearfix">
            {% assign count = '0' %}
            {% for post in site.posts limit: 20 %}
            {% capture count %}{{ count | plus: '1' }}{% endcapture %}
            {% include portfolio-layout.html %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- <div class="old-work-wrap">
    <div class="container">
        <div class="col-md-12">
            <section>
                <div>
                    <div id="oldWorkSection">
                        <h2>Older Work</h2>
                        {% for post in site.posts offset: 15 %}
                        {% include portfolio-old.html %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div> -->