---
layout: null
---
<!--
handles the layout for all category via the ajax links on the home page
for the default layout see the port.html file (this cat template "should" match the default template)
-->
<div class="container">
    <div class="col-md-12">
        <div class="siteblock clearfix">
            {% assign count = '0' %}
            {% for post in site.posts limit: 20 %}
            {% capture count %}{{ count | plus: '1' }}{% endcapture %}
            {% include portfolio-layout.html %}
            {% endfor %}
        </div>
    </div>
</div>
