---
layout: null
---
<div class="container">
	<div class="col-md-12">
		<div class="siteblock clearfix">
		<!--
		handles the layout for design category via the ajax links on the home page
		for the default layout see the port.html file
		-->
		{% assign count = '0' %}
		{% for post in site.categories.design limit: 9 %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% include portfolio-layout.html %}
		{% endfor %}
		</div>
	</div>
</div>
{% if count >= '9'  %}
<div class="old-work-wrap">
    <div class="container">
        <div class="col-md-12">
            <section>
                <div>
                    <div id="oldWorkSection">
                        <h2>Older Design</h2>
                        {% for post in site.categories.design offset: 9 %}
                        {% include portfolio-old.html %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endif %}