---
layout: null
---
<div class="row siteblock">
{% assign count = '0' %} 
{% for post in site.categories.design limit: 16 %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}

  <div id="post{{count}}"class="col-sm-4 col-md-4 col-lg-3 workblock grid">
    <figure class="effect-bubba {{post.className}}">
      <img src="{{ post.teaser-img }}" alt="{{post.title}}"/>
      <figcaption>
        <h2>{{ post.title }}</h2>
        <p class="hidden-sm">{{post.teaser}}</p>
          <a  class="view-post" href="{{ post.url | prepend: site.baseurl }}">View</a>
      </figcaption>     
    </figure>
  </div>
  {% endfor %}
</div>
<div class="container">
  <div class="row">
    {% for post in site.categories.design limit: 16 offset: 16 %}
    <div class="col-sm-4 ">
      <h2>{{ post.title }}</h2>
      <p class="hidden-sm">{{post.teaser}}</p>
    </div>
    {% endfor %}
  </div>
</div>