---
layout: default
---
<div class="post">
    <div class="post-content-wrap">
        <div class="container content-section">
            <div class="row">
                <div class="col-md-6 post-text">
                    <header class="postIntro">
                        <div class="intro-body ">
                            <div class="value_intro">
                                <ul>
                                    <li>
                                        <h1 class="brand-heading">{{page.title}}<br>
                                        <small class="client">Client: 
                                            {% if page.siteurl %}
                                            <a href="{{page.siteurl}}" target="_blank">{{page.client}}</a>
                                            {% else %}
                                            {{page.client}}
                                            {% endif %}
                                        </small>
                                        </h1>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </header>
                  
                    <div>
                        <h2>{{page.teaser}}</h2>
                        {{content}}
                        {% if tag == page.tag %}
                        <small>Skills:</small>
                        <ul class="nav nav-pills nav-tags">
                            {% for tag in page.tags %}
                            <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 post-img">
                    <picture>
                      <source srcset="{{ page.post-webp }}" type="image/webp">
                      <source srcset="{{ page.post-img }}" type="image/jpeg"> 
                      <img src="{{ page.post-img }}" alt="{{page.title}}">
                    </picture>

                </div>
            </div>
        </div>
    </div>
</div>

