<div id="clients">
    <div class="container">
        <div class="row">
        <h2>Recent Clients</h2>
            <div class="col-sm-6">
                <ul>
                {% for client in site.data.clients limit: 10 %}
                    <li>{{client.name}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6">
                <ul>
                {% for client in site.data.clients offset: 10 %}
                    <li>{{client.name}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>