<!-- Footer -->
<footer class="footer">
    <div class="container">
      <div class="row">
      <div class="col-xs-12 clearfix"> 
        <p>
        	<small class="copyright">
        		Copyright &copy; {{site.title}}  
        		<span class="disabled">{{ site.time | date: "%Y" }}</span>
        	</small>
        	<small class="makestuff" >Make Stuff</small>
        </p>
      </div>
    </div>
    </div>
</footer>
<script type='text/javascript'>
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=3zpelt22odjd3utiuf60ug';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>