<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PT2PWBP');</script>
    <!-- End Google Tag Manager -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{"/theme/dist/img/apple-touch-icon-60x60.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{"/theme/dist/img/apple-touch-icon-180x180.png?v=2" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{"/theme/dist/img/android-chrome-192x192.png?v=2" | prepend: site.baseurl }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{"/theme/dist/img/favicon-32x32.png?v=2?v=2" | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{"/theme/dist/img/favicon-96x96.png?v=2" | prepend: site.baseurl }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{"/theme/dist/img/favicon-16x16.png?v=2" | prepend: site.baseurl }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{"/theme/dist/img/favicon.ico?v=2" | prepend: site.baseurl }}">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <!--site css-->
    <link rel="stylesheet" href="{{ "/theme/dist/css/app.css" | prepend: site.baseurl }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Tag Manager -->

</head>


