<header class="intro">
    <div class="chev hideAn animated">
      <div class="inner"></div>
    </div>
    <div class="intro-body ">
        <div class="container hideAn animated">
          <div class="row">
                <div class="col-sm-7">
                  <h1 class="brand-heading">{{ page.intro }}</h1>
                </div>
              </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="introDes">
                       {{ page.subTeaser }}
                    </div>
                </div>
            </div>
        </div>
          <a href="#port" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
          </a>

    </div>
</header>