<!-- our work Section -->
<section id="port" class="content-section">
    <section id="workSection" class="show">
        <div class="port-head">
            <div class="row clearfix">
                    <h2><a class="page-scroll recent-work link--nukun" href="#port-scroll"><span><i class="fa fa-caret-down"></i></span><br>Recent Work</a></h2>
            </div>
        </div>
        <div id="workContent" class="animated allInner open">
            <div class="container">
                <div class="siteblock clearfix">
                    {% assign count = '0' %}
                    {% for post in site.posts limit: 25 %}
                    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                    {% include portfolio-layout.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>