<!-- our work Section -->
<section id="port" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h2>Portfolio</h2>
        <span id="all" class="filter workOpen active">
          <!-- <img src="{{post.teaser-img}}" alt="{{post.title}}"/> -->
          All
        </span>
        <span id="site" class="filter workOpen">
          <!-- <img src="{{post.teaser-img}}" alt="{{post.title}}"/> -->
          Sites
        </span>
        <span id="design" class="filter workOpen">
          <!-- <img src="{{post.teaser-img}}" alt="{{post.title}}"/> -->
          Design
        </span>
      </div>
    </div>
  </div>
</section>
<section id="workSection" class="show">
  <div id="workContent" class="container animated allInner open">
    <div class="row siteblock">
    {% assign count = '0' %} 
    {% for post in site.posts limit: 12 %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    <div id="post{{count}}" class="col-sm-4 col-md-4 col-lg-3 workblock grid">
      <figure class="effect-bubba {{post.className}} ">
        <img src="{{ post.teaser-img | prepend: site.baseurl }}" alt="{{post.title}}"/>
        <figcaption>
          <span class="postType">{{post.className}}</span>
          <h2>{{ post.title }}</h2>
          <p class="hidden-sm">{{post.teaser}}</p>
          <small class="client"><span>Client:</span> {{post.client}}</small>
          <a  class="view-post" href="{{ post.url | prepend: site.baseurl }}">View</a>
        </figcaption>     
      </figure>
    </div>
    {% endfor %}
    </div>
    <div class="container" id="oldWorkSection">
    <div class="row">
      <div class="col-xs-12"><h2>Older Work</h2></div>
      {% for post in site.posts limit: 12 offset: 16 %}
 <div class="col-sm-4 col-md-4 col-lg-3 workblock grid">
      <figure class="effect-bubba {{post.className}} ">
       <!--  <img src="{{ post.teaser-img | prepend: site.baseurl }}" alt="{{post.title}}"/> -->
        <figcaption>
          <h3>{{ post.title }}</h3>
          <a  class="view-post" href="{{ post.url | prepend: site.baseurl }}">View</a>
        </figcaption>     
      </figure>
    </div>
      {% endfor %}
    </div>
</div>
  </div>
</section>