<div id="post{{count}}" class="workblock grid">
    <figure class="{{post.className}} ">
        <img src="{{ post.teaser-img | prepend: site.baseurl }}" alt="{{post.title}}"/>
        <figcaption>
            <h2>{{ post.title }}</h2>
            <p>{{post.teaser}}</p>
            <div class="clearfix">
                <small class="hidden-sm hidden-md client"><span>Client:</span> {{post.client}}</small>
            </div>
        </figcaption>
        <a  class="view-post" href="{{ post.url | prepend: site.baseurl }}">View</a>
    </figure>
</div>